body {
    background-color: #f6f6f6;
    margin: 0;
}

.panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 20px;
    background-color: #f6f6f6;
    outline: 1px solid #e5e5e5;
}

.carousel img {
    height: 20em;
}

.section-heading {
    color: #bebebe;
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
    /* media query */
    font-size: 8px; 
    letter-spacing: 2px;
}

.blue-paragraph {
    color: #27198C;
    font-family: 'Muli', sans-serif;
    font-weight: 900;
    /* media query */
    line-height: 30px;
    font-size: 62.5%;
    letter-spacing: 1px;
}

.black-paragraph {
    color: #191919;
    font-family: 'Muli', sans-serif;
    /* media query */
    line-height: 25px;
    font-size:  12px;
}

h3 {
    font-weight: 600;
}

.button-wrapper{
    display:flex;
    justify-content: left;
}

.info {
    background-color: #f6f6f6;
    outline: 1px solid #FE7010;
    width: 100px;
}

.some-button {
    color: #2719AC;
    font-family: 'Muli', sans-serif;
    font-weight: 900;
    letter-spacing: 1px;
    font-size: 10px;
    padding-left: 10px;   
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
}

.icon-box {
    background-color: #FE7010; 
    outline: 1px solid #FE7010;
    width: 30px;
}

.placeholder-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 210px;
}

.list-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 210px;
}

.list-wrapper h3 {
    color: #2719AC;
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
    /* media query */
    font-size: 9px;
    letter-spacing: 2px;
}

.flex-child {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 280px;
}

li {
    list-style-type: none; 
    font-size: 12px;
    font-family: 'Roboto Slab', serif;
    font-weight:700;
    letter-spacing: 2px;
    color: #2719AC;
    font-weight: bold;
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
} 

@media screen and (min-width: 1366px) {
    .list-wrapper {
        flex-direction: row;
    }
    .flex-child {
        flex-direction: column;
    }
}

@media screen and (min-width: 768px) {

    .heading-wrapper {
        display: inline-block;
        width: 45vw; 
        padding-left: 10px;   
    }
    
    .section-heading {
        font-size: 10px; 
        letter-spacing: 2px;
        /* font-weight: normal; not working */
        padding-top: 20px;
        
    }

    .blue-paragraph {
        color: #27198C;
        font-family: 'Muli', sans-serif;
        font-weight: 900;
        line-height: 30px;
        font-size: 20;
        letter-spacing: 1px;
        width: 300px;     
    }

    /* .list-wrapper {
        display: flex;
        flex-direction: column;
        
    } */
    .list-wrapper h3 {
        
        font-weight: bold;
        /* media query */
        font-size: 10px;
        letter-spacing: 2px;
    }

    .clip-1{
        
    }

    .clip-2{

    }
    .photo-carousel {
        display: none;
    }
    .panel {
        display: block;
    }
    .heading-wrapper {
        display: inline-block;
        width: 45vw;    
    }
    .list-total-wrapper {
        display: inline-block;
        width: 45vw;
    }
  
    .panel img {
        width: 45vw;
    }
}

@media screen and (max-width: 768px) {
    .panel img {
        display: none;
    }
}


/* give image that are going to dissapear all the same class name
and replace "img" with that class name */


